*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgb(204, 204, 204);
}
#mainbody{
    height: 90%;
    width: 90%;
    background-color: rgb(232, 230, 229);
    display: grid;
    grid-template-rows: 10% 30% 25% 35%;
    grid-template-columns: 50% 50%;
}

#navbar{
grid-column: 1 / 4;
display: flex;
justify-content: flex-end;
padding: 30px;
/* background-color: aquamarine; */
}
#navbar h2{
    padding-right: 20px;
}
#prop{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50px;
}
#prop img{
    border-radius: 50px;
    height: 100%;
    width: 100%;
    object-position: 50% 50%;
    object-fit:inherit;

}
#elem2{
    padding-left: 100px;
    grid-column: 1 / 4;
/* background-color: blue; */
letter-spacing: 1px;
line-height: 60px;
font-size: 60px;
font-weight: 0;
}
#elem3{
    /* background-color: brown; */
    padding-left: 100px;
    line-height: 30px;
    font-weight: 500;
}

#elem4{
    /* background-color: chartreuse; */
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 70%;
}
#form{
    height:250px;
    width:450px;
    
    /* background-color: pink; */
    line-height: 45px;
    /* background-color: aquamarine; */
}
#form1{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
   
}
.id1 a{
    /* opacity: 0; */
    text-decoration: none;
    color: black;
    font-size: 21px;
}
.id1 i{
    opacity: 0;
}
.id1:hover{
    background-color: rgb(218, 218, 218);
}
.id1:hover i{
    opacity: 100;
}
hr{
    height: 4px;
    background-color: black;
}
#elem5{
    grid-column: 1 / 4;
 /* background-color: darkseagreen;    */
 
}
#elem5 img{
    /* border-radius: 0px; */
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position: 0% 58%;
}