*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }
 html,body{
 height: 100%;
 width: 100%;
 }
 #main{
    /* position: relative; */
    height: 100%;
    width: 100%;
    background-color: rgb(236, 206, 167);
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px;
    
}

#main2{
    /* position: absolute; */
    /* height: 100px; */
    /* width: 100px; */
    /* justify-self: center;
    align-self: center; */
    background-color: rgb(23, 116, 197);
    /* border-radius: 50%; */
    border: 1px solid black;
    
 }